/*
    font-family: 'Fredoka One', cursive;
    font-family: 'Secular One', sans-serif;
    https://colorhunt.co/palette/511845900c3fc70039ff5733
    https://colorhunt.co/palette/0000001500503f0071610094
*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');